<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.21089 0.0079163 0.52061"
        rpy="0 0 0" />
      <mass
        value="46.187" />
      <inertia
        ixx="1.8859"
        ixy="0.0044227"
        ixz="0.056972"
        iyy="1.1014"
        iyz="0.00050168"
        izz="2.5571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="F_Left__Link">
    <inertial>
      <origin
        xyz="-7.3445E-06 -0.041865 1.6681E-05"
        rpy="0 0 0" />
      <mass
        value="8.3431" />
      <inertia
        ixx="0.24221"
        ixy="2.6654E-06"
        ixz="-9.1219E-06"
        iyy="0.40539"
        iyz="-6.0728E-06"
        izz="0.24223" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/F_Left__Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/F_Left__Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_Left__Joint"
    type="continuous">
    <origin
      xyz="1.3683 0.6455 0.216"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_Left__Link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="F_Right__Link">
    <inertial>
      <origin
        xyz="7.3448E-06 0.041865 1.6676E-05"
        rpy="0 0 0" />
      <mass
        value="8.3431" />
      <inertia
        ixx="0.24221"
        ixy="2.6642E-06"
        ixz="9.1191E-06"
        iyy="0.40539"
        iyz="6.0718E-06"
        izz="0.24223" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/F_Right__Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/F_Right__Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_Right__Joint"
    type="continuous">
    <origin
      xyz="1.3683 -0.6455 0.216"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_Right__Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="B_Left__Link">
    <inertial>
      <origin
        xyz="-1.6677E-05 -0.041865 -7.3409E-06"
        rpy="0 0 0" />
      <mass
        value="8.3431" />
      <inertia
        ixx="0.24223"
        ixy="6.0728E-06"
        ixz="9.1249E-06"
        iyy="0.40539"
        iyz="2.6671E-06"
        izz="0.24221" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/B_Left__Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/B_Left__Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="B_Left__Joint"
    type="continuous">
    <origin
      xyz="-0.18175 0.6252 0.216"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="B_Left__Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="B_Right__Link">
    <inertial>
      <origin
        xyz="7.3429E-06 0.041865 1.6682E-05"
        rpy="0 0 0" />
      <mass
        value="8.3431" />
      <inertia
        ixx="0.24221"
        ixy="2.6653E-06"
        ixz="9.1223E-06"
        iyy="0.40539"
        iyz="6.0696E-06"
        izz="0.24223" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/B_Right__Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/B_Right__Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="B_Right__Joint"
    type="continuous">
    <origin
      xyz="-0.18175 -0.6252 0.216"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="B_Right__Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="-7.1986E-05 -0.00010211 0.037252"
        rpy="0 0 0" />
      <mass
        value="0.35152" />
      <inertia
        ixx="0.00016337"
        ixy="-6.6202E-09"
        ixz="1.4666E-07"
        iyy="0.00015786"
        iyz="2.4815E-08"
        izz="0.00024246" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/Lidar_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf1/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar_Joint"
    type="fixed">
    <origin
      xyz="0.2936 0 0.8955"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>